.tetris {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.tetris.red {
    background-image: url('matrice-red.gif');
    background-repeat: repeat;
}
.tetris.blue {
    background-image: url('matrice-blue.gif');
    background-repeat: repeat;
}

.texture {
    border: 0.5px solid #303030;
    width: 15px;
    height: 15px;
}

.nextPiece .texture {
    border: 0.5px solid black;
    width: 15px;
    height: 15px;
}

.tetris .game {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.tetris .game > .player {
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: black;
}

.tetris .game > .player.red {
    border: 2px solid red;
}
.tetris .game > .player.blue {
    border: 2px solid blue;
}

.tetris .game > .player > .gameInformations {
    display: flex;
    flex-direction: column;
    color: white;
}

.tetris .game > .player > .gameInformations > .playerName {
    margin-left: 5px;
}
.tetris .game > .player > .gameInformations > .score {
    margin-left: 5px;
}

.tetris .game > .player > .gameInformations > .spacer {
    flex: 1;
}

.tetris .game > .player > .gameInformations > .nextPiece {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    width: 76px;
    height: 76px;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    background-color: black;
}

.tetris .game > .player > .gameInformations > .nextPiece > .line {
    display: flex;
    width: fit-content;
}

.tetris .gamezone > .line {
    display: flex;
}

.tetris .gameover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: large;
    font-weight: bold;
    color: white;
}
